body {
	background-color: #F9E076;
}

.container {
	background-color: #FFFFFF;
	width: 60%;
	height: 60%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
}

.left {
	width: 40%;
	background-color: #FFB81C;
	text-align: center;
}

.right {
	height: 100%;
	width: 60%;
	overflow-y: scroll;
}

.content {
	padding: 10px;
	padding-left: 20px;
}
