
body {
	background-color: #F9E076;
	font-family: monospace;
}

.container {
	background-color: #FFFFFF;
	width: 60%;
	height: 60%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left {
	width: 40%;
	background-color: #FFB81C;
	text-align: center;
}

.header {
	padding: 50px;
}

.right {
	height: 100%;
	width: 60%;
	overflow-y: scroll;
}

.content {
	padding: 10px;
	padding-left: 20px;
}
