<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{page.title}} | fancyfinn9</title>
	<link href="/assets/css/styles.css" rel="stylesheet">
	<link href="/assets/fontawesome/css/all.min.css" rel="stylesheet">
	<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
	<meta name="google-site-verification" content="KMzKpgqoD2-fYa8zfsNbah2BnPfGdaZigBWo_eDbYTc" />
	<link rel="me" href="https://donphan.social/@fancyfinn9" />
	<meta name="fediverse:creator" content="@fancyfinn9@donphan.social">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
</head>
<body>
	{% include header.html %}
	<div id="page">
		{{content}}
	</div>
</body>
</html>